{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faith-blog</title>
    <link rel="stylesheet" href="{% static 'css/games.css' %}">
</head>
<body class="background">

    <h1 class="head"  width="30">
        理想这东西就跟内裤一样，要有，但是不能逢人就证明你有。
    </h1>
    <div class="content">
        <table>
            <tr>
                <th>
                    <p><img alt="yuki" src="{% static 'img/yuki.png' %}" width="120" height="150"></p>
                    <a href="{% static '/game/yuki单机测试.zip' %}">yuki单机测试</a>
                    <h3 id="star">★★★★</h3>

                </th>
            </tr>
        </table>

    </div>
</body>
</html>
