{% extends "base.html" %}
{% load static %}
{% block page_content %}
    <div>
        <div class="pure-u-1 pure-u-md-3-4">
    <p><b>欢迎评论留言</b></p>
    <p>＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊</p>
    <form action="/save/" method="post" novalidate="novalidate">
        {% csrf_token %}
        姓名：
        <br />
        <input type="text" name="name">

        <br />
        题目：
        <br>
        <input type="'text" name="title">
        <br>
        留言：
        <br />
        <textarea rows="5" cols="20" name="message"></textarea>
        <br />
        <input type="submit" value="发表" />
    </form>
    <p>＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊</p>
    <p>留言列表</p>{% for message in all %}
        <p>--------------------------------------------------------------</p>
        <p> {{ message.username}}<span style="position: absolute; right:17cm; color: silver">{{ message.publish }}</span> </p>
        <p>{{ message.title }}</p>
        <p> {{ message.content }} </p>
    {% endfor %}
    </div>
        <div class="pure-u-1 pure-u-md-3-4" align="center">
        {% if all.has_previous %}
        <a href="?page={{ all.previous_page_number }}">前页</a>
        {% endif %}
        <span>{{ all.number }} of {{ all.paginator.num_pages }} </span>
        {% if all.has_next %}
        <a href="?page={{all.next_page_number}}">下页</a>
        {% endif %}
    </div>
    </div>
{% endblock %}